@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: whitesmoke;
}
.end-3 {
    right: 3% !important;
  }

.bg-dw {
    background-color: cornsilk;
    padding: 5px;
    color: black;
}

.links {
    color: black;
    text-decoration: none;
}

.bg-white {
    background-color: white;
    border-radius: 15px;
    display: flex;
}

@media (max-width: 800px) {
    .bg-white {
      flex-direction: column;
    }
  }

.justify {
    text-align: justify
}

.icons {
    height: 2rem;
    margin-top: 2rem;
    margin-right: 0.5rem;
}

.photo {
    width: 15rem;
    object-fit:cover;
    box-shadow: 5px 3px gainsboro;
}

.prj {
    background-color: wheat;
    border-top: 10px solid orangered;
}

.bg-wheat {
    background-color: wheat;
}

.btn-wheat {
    background-color: wheat;
}

.container-card {
    width: 20rem!important;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prjtitle {
    color: black;
    text-decoration: none;
}

.coverpic {
    width: 800px;
    height:400px;
    object-fit:cover;
}

.card-boded {
    flex: 1 0 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
  }